$language: 'zh-hant';

// @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url("https://use.typekit.net/wyh7nce.css");

$font-family-text: 'source-han-sans-traditional', sans-serif;
$font-family-display: 'Noto Sans TC', sans-serif;

@import 'imports';